<%= form_for @bank, url: {action: "create"}, html: {class: "form", method: "post"} do |f| %>
  <%= f.label :name, "Bank name: " %>
  <%= f.text_field :name %>
  <p></p>
  <%= f.label :address, "Address: " %>
  <%= f.text_field :address %>
  <p></p>
  <%= f.submit "Create", {class: 'btn btn-primary', id: 'button'} %>
<% end %>