<%= link_to "Make a report.", customers_report_path %>
<p></p>
<%= link_to "Add new customer", new_customer_path %>
<table class="table">
  <tr>
    <td>Customer ID</td>
    <td>Name</td>
    <td>Address</td>
    <td>Phone</td>
    <td></td>
  </tr>
  <% @customers.each do |cstmr| %>
  <tr>
    <td><%= link_to cstmr.ssn, cstmr %></td>
    <td><%= cstmr.name %></td>
    <td><%= cstmr.address %></td>
    <td><%= cstmr.phone %></td>
    <td><%= link_to "Delete", cstmr, method: :delete, confirm: "Are you sure?" %></td>
  </tr>
  <% end %>
</table>
<%= link_to "Add new customer", new_customer_path %>