<table class="table">
  <tr>
    <td>Customer ID</td>
    <td><%= @customer.ssn %></td>
  </tr>
  <tr>
    <td>Name</td>
    <td><%= @customer.name %></td>
  </tr>
  <tr>
    <td>Address</td>
    <td><%= @customer.address %></td>
  </tr>
  <tr>
    <td>Phone</td>
    <td><%= @customer.phone %></td>
  </tr>
  <tr>
    <%= link_to "Delete", @customer, method: :delete, confirm: "Are you sure?" %>
  </tr>
</table>
<div align="center">_________________________________________________________________________________</div>
<p></p>
<p></p>
<table class="table">
  <tr>Loans' ID</tr>
  <% @loans.each do |ln| %>
    <tr><%= link_to ln.loan_no, loan_path(ln.loan_id) %></tr>
  <% end %>
</table>
<div align="center">_________________________________________________________________________________</div>
<p></p>
<p></p>
<table class="table">
  <tr><td>Accounts' ID</td></tr>
  <% @accounts.each do |accnt| %>
    <tr></td><%= link_to accnt.account_id, account_path(accnt.account_id) %></td></tr>
  <% end %>
</table>