<%= form_for @loan, url: {action: "create"}, html: {class: "form", method: "post"} do |f| %>
  <%= f.label :lo_type, "Loan type: " %>
  <%= f.text_field :lo_type %>
  <p></p>
  <%= f.label :amount, "Amount: " %>
  <%= f.text_field :amount %>
  <p></p>
  <%= label_tag :customer_id, "Customer ID: " %>
  <%= text_field_tag :customer_id, "", name: "loan[customer_id]" %>
  <p></p>
  <%= f.label :branch_id, "Branch ID: " %>
  <%= f.text_field :branch_id %>
  <p></p>
  <%= f.submit "Create", {class: 'btn btn-primary', id: 'button'} %>
<% end %>