<table  class="table">
  <tr>
    <td>Loan ID</td>
    <td><%= @loan.loan_no %></td>
  </tr>
  <tr>
    <td>Type</td>
    <td><%= @loan.lo_type %></td>
  </tr>
  <tr>
    <td>Amount</td>
    <td><%= @loan.amount %></td>
  </tr>
  <tr>
    <td>Branch ID</td>
    <td><%= link_to @loan.branch_id, branch_path(@loan.branch_id) %></td>
  </tr>
  <tr>
    <%= link_to "Delete", @loan, method: :delete, confirm: "Are you sure?" %>
  </tr>
</table>
<div align="center">_________________________________________________________________________________</div>
<p></p>
<p></p>
<table class="table">
  <tr><td>Customers' ID</td></tr>
  <% @customers.each do |cstmr| %>
    <tr><td><%= link_to cstmr.customer_id, customer_path(cstmr.customer_id) %></td></tr>
  <% end %>
</table>