<!DOCTYPE html>
<html>
<head>
  <title>DbProj</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <%= render 'shared/messages' %>

      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
