<%= link_to "Make a report.", accounts_report_path %>
<p></p>
<%= link_to "Add new account", new_account_path %>
<table class="table">
  <tr>
    <td>Account ID</td>
    <td>Type</td>
    <td>Balance</td>
    <td>Branch ID</td>
    <td></td>
  </tr>
  <% @accounts.each do |accnt| %>
    <tr>
      <td><%= link_to accnt.acct_no, accnt %></td>
      <td><%= accnt.ac_type %></td>
      <td><%= accnt.balance %></td>
      <td><%= link_to accnt.branch_id, branch_path(accnt.branch_id) %></td>
      <td><%= link_to "Delete account", accnt, method: :delete, confirm: "Are you sure?" %></td>
    </tr>
  <% end %>
</table>
<%= link_to "Add new account", new_account_path %>